
@{
    ViewData["Title"] = "Login";
}

<form asp-action="Verify" method="post">
   
    <h1>LOGIN</h1>
    <div>
        @if(ViewData["LoginFlag"] != null)
        {
        <p class="text-danger">@ViewData["LoginFlag"].ToString()</p>
        }
    </div>
   
    <div class="form-outline mb-4">
        <input type="text" name="username" id="form2Example1" class="form-control" required/>
        <label class="form-label" for="form2Example1">Username</label>
    </div>

        <!-- Password input -->
    <div class="form-outline mb-4">
        <input type="password" name="password" id="form2Example2" class="form-control" required/>
        <label class="form-label" for="form2Example2">Password</label>
    </div>


    <!-- Submit button -->
    <input type="submit" class="btn btn-primary btn-block mb-4">

</form>

