@model CompanyProject.Models.Employee

@{
    ViewData["Title"] = "EditEmployee";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}

<h2 style="margin:25px">Edit Employee</h2>

<div class="row" style="margin:25px">
    <div class="col-md-4">
        <form asp-action="EditEmployee">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="ID" class="control-label"></label>
                <input asp-for="ID" class="form-control" readonly/>
                <span asp-validation-for="ID" class="text-danger"></span>
            </div>
            <div class="form-group mb-3" style="display:none">
                <label asp-for="Ssn" style="display:none" class="control-label"></label>
                <input asp-for="Ssn" class="form-control" readonly />
                <span asp-validation-for="Ssn" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Fname" class="control-label"></label>
                <input asp-for="Fname" class="form-control" readonly />
                <span asp-validation-for="Fname" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Lname" class="control-label"></label>
                <input asp-for="Lname" class="form-control" readonly />
                <span asp-validation-for="Lname" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Mname" class="control-label"></label>
                <input asp-for="Mname" class="form-control" readonly />
                <span asp-validation-for="Mname" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" readonly />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Sex" class="control-label"></label>
                <input asp-for="Sex" class="form-control" readonly />
                <span asp-validation-for="Sex" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="BirthDate" class="control-label"></label>
                <input asp-for="BirthDate" class="form-control" readonly />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="RoleID" class="control-label"></label>
                <input asp-for="RoleID" class="form-control" />
                <span asp-validation-for="RoleID" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="DepID" class="control-label"></label>
                <input asp-for="DepID" class="form-control" readonly />
                <span asp-validation-for="DepID" class="text-danger"></span>
            </div>
            <div class="form-group  mb-3">
                <label asp-for="Salary" class="control-label"></label>
                <input asp-for="Salary" class="form-control" />
                <span asp-validation-for="Salary" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="SuperID" class="control-label"></label>
                <input asp-for="SuperID" class="form-control" />
                <span asp-validation-for="SuperID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="mb-3">
        <a asp-action="Index">Back to List</a>
    </div>
</div>



