@model CompanyProject.Models.Role

@{
    ViewData["Title"] = "EditRole";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 style="margin: 25px;">Edit Role</h2>


<div class="row" style="margin: 25px;">
    <div class="col-md-4">
        <form asp-action="EditRole">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="roleID" class="control-label">Role ID</label>
                <input asp-for="roleID" class="form-control" readonly />
                <span asp-validation-for="roleID" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="roleName" class="control-label">Role Name</label>
                <input asp-for="roleName" class="form-control" />
                <span asp-validation-for="roleName" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div style="mb-3">
        <a asp-action="Index">Back to List</a>
    </div>
</div>


